<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hostal

    </title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Girassol&family=Roboto&display=swap" rel="stylesheet">
<br>

{% load static %}
{% block css %}
{% endblock %}

    <link rel="stylesheet" href="{% static 'app/css/estilos.css' %}">
    
</head>
<body>

    
    <header id="header">
        <img class="menu" src="{% static 'app/img/menuiconwhite.png' %}" alt="menu" id="menu">
        <div class="contenedor_logo">
            <img  class="logo"  src="{% static 'app/img/logo.png' %}" alt="logo">
        </div>

        <div>
            
            <nav id="nav">
                <ul>
                    <li>
                        <a href="{% url 'home' %}"> Inicio </a>
                    </li>
                    <li>
                        <a href="{% url 'contacto' %}">Contacto</a>
                    </li>
                    <li><a href="{% url 'galeria' %}">Galería</a></li>
                </ul>
            </nav>

        </div>

    </header>

    <div id="contenido">

        {% block contenido %}

        {% endblock %}

    </div>

<br><br><br>
    <footer>
        <div class="marcas">
            <img src="{% static 'app/img/footer/airbnb.png' %}" alt="airbnb">
            <img src="{% static 'app/img/footer/kayak.png' %}" alt="kayak">
            <img src="{% static 'app/img/footer/tripadvisor.png' %}" alt="tripadvisor">
            <img src="{% static 'app/img/footer/uber.png' %}" alt="uber">
        
        </div>
        <div class="logo_footer">
            <img src="{% static 'app/img/logo.png' %}" alt="logo">
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static 'app/js/menu.js' %}"></script>

    {% block js %}
    {% endblock %}

</body>
</html>