{% extends 'app/base.html' %}
{% load static %}
{% block contenido %}
<br><br>
<H1>Registro de habitacion</H1>
<br><br>
<div class="card" style="width: 30rem;">
    <div class="card-body">
        <h2>Nueva habitacion</h2>

        <form action="" method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">id_habitacion</label>
            <input type="text" class="form-control" name="rut" placeholder="1">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">precio</label>
            <input type="text" name="cliente" class="form-control"  placeholder="$150.000">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">tipo_cama</label>
            <input type="text" name="emp_cliente" class="form-control" placeholder="full">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">caracteristicas</label>
            <input type="text" name="huesped"  class="form-control"  placeholder="habitacion equipada con todo">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">reserva_id_reserva</label>
            <input type="text" name="huesped"  class="form-control"  placeholder="001">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">accesorios</label>
            <input type="text" name="huesped"  class="form-control"  placeholder="mini bar, purificador de aire">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">estado_habitacion_estado_habitacion_id</label>
            <input type="text" name="huesped"  class="form-control"  placeholder="disponible">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-success mb-3">Guardar</button>
        </div>
        </form>

        {{mensaje}}
    </div>
</div>

        <br><br><br>

{% for p in habitaciones%}

<div class="card" style="width: 20rem;">
    <div class="card-body">
        <h2>Habitacion</h2>
        <ul class="list-group">
            <li class="list-group-item list-group-item-action list-group-item-info"> Rut : {{ p.0 }} </li> 
            <li class="list-group-item list-group-item-action list-group-item-info"> Cliente : {{ p.1 }} </li>
            <li class="list-group-item list-group-item-action list-group-item-info"> Emp_cliente : {{ p.2 }} </li>
            <li class="list-group-item list-group-item-action list-group-item-info"> Huesped : {{ p.3 }} </li>
            <li class="list-group-item list-group-item-action list-group-item-info"> Huesped : {{ p.4}} </li>
            <li class="list-group-item list-group-item-action list-group-item-info"> Huesped : {{ p.5 }} </li>
            <li class="list-group-item list-group-item-action list-group-item-info"> Huesped : {{ p.6 }} </li>
        </ul>
        <div>
            <button class ="btn btn-danger m-1" >Eliminar</button>
            <button class ="btn btn-warning m-1" >Editar</button>
        </div>
    </div>
</div>
<br><br>


{% endfor %}

{% endblock %}