{% extends 'app/base.html' %}
{% load static %}
{% block contenido %}

<br>
<br>
<H1>Registro de recepción del producto</H1>
<br>
<br>
<div class="card" style="width: 30rem;">
    <div class="card-body">
        <h2>Nuevo recepción de producto</h2>

        <form action="" method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">id recepcion producto: </label>
                <input type="number" class="form-control" name="id_recepcion_producto" placeholder="11111" min="1">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label"> id orden de pedido: </label>
                <input type="number" name="fecha_reserva" class="orden_pedido_id_pedido" placeholder="" min="1" >
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Fecha de la recepción: </label>
                <input type="date" name="cliente_id_cliente" class="fecha_recepcion_pro" placeholder="" >
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-success mb-3">Guardar</button>
            </div>
        </form>

        {{mensaje}}
    </div>
</div>

<br>
<br>
<br>


        {% for p in recepciones %}
<div class="card" style="width: 30rem;">
    <div class="card-body">
        <h2>recepcion_producto</h2>
        <ul class="list-group">
        
            <li class="list-group-item list-group-item-action list-group-item-info"> id_resepcion_producto : {{ p.0 }} </li>
            <li class="list-group-item list-group-item-action list-group-item-info"> orden_pedido_id_pedido : {{ p.1 }} </li>
            <li class="list-group-item list-group-item-action list-group-item-info"> fecha_recepcion_pro : {{ p.2 }} </li>
        </ul>
        <div>
            <button class="btn btn-danger m-1">Eliminar</button>
            <button class="btn btn-warning m-1">Editar</button>
        </div>
    </div>
</div>
<br>
<br>


{% endfor %}

{% endblock %} 