{% extends 'app/base.html' %}
{% load static %}
{% block contenido %}
<br><br>
<H1>Gestion de clientes</H1>
<br><br>
<div class="card" style="width: 30rem;">
    <div class="card-body">
        <h2>Nuevo cliente</h2>

        <form action="" method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Rut</label>
            <input type="text" class="form-control" name="rut" placeholder="12345678-9">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Cliente</label>
            <input type="text" name="cliente" class="form-control"  placeholder="numero de cliente">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Emp_cliente</label>
            <input type="text" name="emp_cliente" class="form-control" placeholder="numero del empleado cliente">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Huesped</label>
            <input type="text" name="huesped"  class="form-control"  placeholder="numero del huesped">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-success mb-3">Guardar</button>
        </div>
        </form>

        {{mensaje}}
    </div>
</div>


        <br><br><br>

{% for p in clientes %}

<div class="card" style="width: 20rem;">
    <div class="card-body">
        <h2>Cliente</h2>
        <ul class="list-group">
            <li class="list-group-item list-group-item-action list-group-item-info"> Rut : {{ p.0 }} </li> 
            <li class="list-group-item list-group-item-action list-group-item-info"> Cliente : {{ p.1 }} </li>
            <li class="list-group-item list-group-item-action list-group-item-info"> Emp_cliente : {{ p.2 }} </li>
            <li class="list-group-item list-group-item-action list-group-item-info"> Huesped : {{ p.3 }} </li>
        </ul>
        <div>
            <button class ="btn btn-danger m-1" >Eliminar</button>
            <button class ="btn btn-warning m-1" >Editar</button>
        </div>
    </div>
</div>
<br><br>

{% endfor %}

{% endblock %}